@model IEnumerable<Inscripcioness.Models.Inscripcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
<<<<<<< HEAD
    <a asp-action="Create">Crear nueva Inscripción</a>
=======
    <a asp-action="Create">Create New</a>
>>>>>>> 0fcae931572882bbe34a601d55c11c335e90a28d
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Carrera.Nombre)
=======
                @Html.DisplayNameFor(model => model.CarreraId)
>>>>>>> 0fcae931572882bbe34a601d55c11c335e90a28d
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.ApellidoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrera.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
=======
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
>>>>>>> 0fcae931572882bbe34a601d55c11c335e90a28d
    </tbody>
</table>
